{% extends 'base.html' %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/user/edit-profile.css' %}">
{% endblock %}
{% block content %}
<div class="form-container">
    <h2>Edit Profile</h2>
    <form method="post" action="{% url 'user:edit_profile' %}">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.username.label_tag }} {{ form.username }}
        {% if form.username.errors %}
            <div class="error">{{ form.username.errors.as_text }}</div>
        {% endif %}
        {{ form.password1.label_tag }} {{ form.password1 }}
        {{ form.password2.label_tag }} {{ form.password2 }}
        <button type="submit">Update</button>
    </form>
</div>
{% endblock %}
